<app-index></app-index>
<div class="about-section" style="margin-top: 7%;">
    <h1>ABOUT US PAGE</h1>
  </div>

<div class="main-text">
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea deserunt excepturi magnam illum accusamus aliquid doloremque labore sunt dolore placeat voluptatem voluptate nobis accusantium atque repudiandae voluptas, vero dolor. Nobis eius aspernatur dolore fugiat ut aliquid delectus quas assumenda, praesentium sapiente vitae facilis cupiditate quod autem voluptatibus tenetur repudiandae! Illum fugiat quaerat voluptate iste qui maxime consequuntur sit voluptatum! Vero, illum! Quisquam itaque nemo sunt corporis obcaecati, quas voluptatem autem molestiae culpa sequi ratione nostrum nulla voluptates dicta, rerum, rem ad ipsum dolorum? Ducimus, laborum similique cupiditate inventore cum repudiandae pariatur dolore minus libero sed aspernatur saepe porro! Ipsum, totam.
        
        </p>
</div>
  
  <h2 style="text-align:center">OUR TEAM</h2>
  <div class="row">
    <div class="column">
      <div class="card">
        <img src="../../../assets/Image/man.jpg" alt="Aayush" style="width:100%" class="images">
        <div class="container">
          <h4>Santhosh Reddy</h4>
          <p><a href="mailto:lsr.24@dkrhospitals.com">lsr.24@dkrhospitals.com</a></p>
          <p><a href="tel:9703701777">9703701777</a></p>
        </div>
      </div>
    </div>
  
    <div class="column">
        <div class="card">
            <img src="../../../assets/Image/man.jpg" alt="Srikanth" style="width:100%" class="images">
            <div class="container">
                <h4>Srikanth Reddy</h4>
                <p><a href="mailto:nsr.2@dkrhospitals.com">nsr.2@dkrhospitals.com</a></p>
                <p><a href="tel:9991116662">9991116662</a></p>
            </div>
        </div>
    </div>
    <div class="column">
      <div class="card">
        <img src="../../../assets/Image/man.jpg" alt="Dhruva" style="width:100%" class="images">
        <div class="container">
          <h4>Dhruva karthikeyan Reddy</h4>
          <p><a href="mailto:dkr25@dkrhospitals.com">dkr25@dkrhospitals.com</a></p>
          <p><a href="tel:8888444121">8888444121</a></p>
        </div>
      </div>
    </div>
      <div class="column">
        <div class="card">
            <img src="../../../assets/Image/man.jpg" alt="aadhvik" style="width:100%" class="images">
          <div class="container">
            <h4>aadhvik Reddy</h4>
            <p><a href="mailto:aadhwik@dkrhospitals.com">aadhwik@dkrhospitals.com</a></p>
            <p><a href="tel:8888444121">9994445667</a></p>
          </div>
        </div>
      </div>

  </div>